.category {
	padding: 80px 40px 0 40px;
	display: flex;
	flex-direction: column;
	gap: 40px;
}

.category h1 {
	font-size: 64px;
	font-weight: 700;
	line-height: 1.1em;
}

.productsCards {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(316px, 1fr));
	gap: 32px;
}
